{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>小北博客网404页面</title>
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		<link rel="icon" href="{% static 'favicon.ico' %}">
	</head>
	<body>
		<div class="container">
			<img class="bg" src="{% static '404.png' %}"/>
			<div class="btn">
				<a href="/" class="{% url 'index' %}">返回首页</a>
				<a href="http://wpa.qq.com/msgrd?v=3&uin=1113855149&site=qq&menu=yes" target="_blank" class="lx">咨询站长</a>
				<div style="clear:both;"></div>
			</div>
		</div>
	</body>
</html>